<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>Better Ning Feeds</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="feed/{{ "http://diydrones.com/activity/log/list?fmt=rss"|urlencode }}">
  </head>
  <body>
    <h1>Better Ning feeds</h1>
    <p>Would you like a better Ning activity feed?</p>
  </body>
</html>
